.page-header
  %h1 Filterrific demo app

%p 
  This is a demo Rails application for the 
  #{ link_to 'filterrific gem', 'http://filterrific.clearcove.ca' }.

%p
  = link_to "View the students list", students_path, :class => 'btn btn-success'
