.page-header
  %h1 Filterrific demo app

%p
  This is a demo Rails application for the
  #{ link_to 'Filterrific gem', 'http://filterrific.clearcove.ca' }.

%p
  = link_to "Try Filterrific on the students list",
            students_path,
            :class => 'btn btn-success btn-lg'

%p
  View the
  = link_to 'source for this app on github',
            'https://github.com/jhund/filterrific_demo'
