<!DOCTYPE html>
<html>
<head>
  <title>Filterrific Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-content container">
    <%= yield %>
  </div>

</body>
</html>
